<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/parking.css">
    <link rel="stylesheet" href="/css/queries.css">
    <script src="/js/parking.js" defer></script>
    <script src="/js/insert.js" defer></script>
    <title>주차장 정산 프로그램</title>
  </head>

  <body>
    <div class="container">
      <div id="first" class="section">
        <div class="signUp">
          <p id="open-signUp">SIGN UP</p>
        </div>
        <div class="out-car">
          <p id="out-car">주차장</p>
        </div>
        <div class="popup" id="popup-1">
          <div class="modal-overlay"></div>
          <div class="modal-content">
            <div class="close-btn">X</div>
            <h2>SIGN UP</h2>
            <form>
              <div class="inputBox">
                <input id="season-carNum" type="text" placeholder="CarNumber">
              </div>
              <div class="inputBox">
                <input id="season-name" type="text" placeholder="Name">
              </div>
              <div class="inputBox">
                <input id="season-period" type="date">
              </div>
              <div class="inputBox">
                <p id="signUp-button">SIGN UP</p>
              </div>
            </form>
          </div>
        </div>
        <div class="content">
          <h2>주차장 입구</h2>
          <div class="first-form">
            <form class="car-num-form">
              <h3>차량번호입력</h3>
              <div class="inputBox">
                <input id="car-number" type="text" placeholder="CarNumber">
              </div>
              <div id="enter" class="inputBox">
                <p id="season-enter-button">정기권</p>
                <p id="enter-button">일반</p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="second" class="section">
        <div class="content">
          <h2>주차 공간</h2>
          <div class="space">
            <ul class="parking-space">
            </ul>
          </div>
          <div class="in-car">
            <p id="in-car">입구</p>
          </div>
        </div>
      </div>
      <div id="third" class="section">
        <div class="content">
          <h2>주차장 출구</h2>
          <div class="third-container">
            <div class="card">
              <div class="calculater">
                <h3>차량번호입력</h3>
                <div class="out-car-number">
                  <p id="out-car-number">CarNumber</p>
                </div>
                <h3>출차시간</h3>
                <div class="inputBox">
                  <input id="out-time" type="datetime-local" placeholder="DateTime">
                </div>
                <div id="out" class="inputBox">
                  <p id="next-season-button">정기차</p>
                  <p id="next-button">일반</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="calculater">
                <h3>할인코드입력</h3>
                <div class="inputBox">
                  <select id="discount" name="DC-code">
                    <option value="" selected>할인코드</option>
                    <option value="nationalMerit">국가유공자</option>
                    <option value="disablePerson">장애인</option>
                    <option value="transfer">환승사용자</option>
                    <option value="market">전통시장이용</option>
                  </select>
                </div>
                <div class="payment-method">
                  <h3>결제 방법</h3>
                  <div id="payment-method" class="inputBox">
                    <p id="cash">현금</p>
                    <p id="credit-card">카드</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="payment">
                <h3>결제 금액</h3>
                <div class="payment-result">
                  <p id="result">Payment</p>
                </div>
                <div id="payment-button" class="inputBox">
                  <p class="cal-button">결제</p>
                  <p class="cal-button2">결제</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>