<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/parking.css">
    <link rel="stylesheet" href="/css/queries.css">
    <script src="/js/parking.js" defer></script>
    <script src="/js/insert.js" defer></script>
    <script src="/js/space.js" defer></script>
    <title>주차장 정산 프로그램</title>
  </head>

  <body>
    <div class="container">
      <div id="first" class="section">
        <div class="content">
          <h2>주차장 입구</h2>
          <div class="form">
            <div class="parking-place">
              <h3>주차여유공간</h3>
              <% if(locals.data) %>
                <p>
                  <%= data %>대 주차가능
                </p>
            </div>
            <form class="car-num-form">
              <h3>차량번호입력</h3>
              <div class="inputBox">
                <input id="car-number" type="text" placeholder="CarNumber">
              </div>
              <div class="inputBox">
                <p id="button">등록</p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="second" class="section">
        <div class="content">
          <h2>주차 공간</h2>
          <div class="space">
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
            <div>
              <p>123가4567</p>
              <input type="button" value="입차">
            </div>
          </div>
        </div>
      </div>
      <div id="third" class="section">
        <div class="content">
          <h2>주차장 출구</h2>
          <div class="third-container">
            <div class="card">
              <div class="calculater">
                <h3>차량번호입력</h3>
                <div class="inputBox">
                  <input id="out-car-number" type="text" placeholder="CarNumber">
                </div>
                <h3>입차시간입력</h3>
                <div class="inputBox">
                  <input id="out-time" type="text" placeholder="DateTime">
                </div>
                <div class="inputBox">
                  <p id="next-button">다음</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="calculater">
                <h3>할인코드입력</h3>
                <div class="inputBox">
                  <input id="discount" type="text" placeholder="DiscountNumber">
                </div>
                <div class="inputBox">
                  <p id="DC-button">등록</p>
                </div>
                <h3>결제 금액</h3>
                <div class="inputBox">
                  <input id="result" type="text" placeholder="Payment">
                </div>
                <div class="inputBox">
                  <p id="cal-button">결제</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>