@media (min-width: 1200px) and (max-width: 2560px) {
  .space {
    max-width: 400px;
  }

  .first-form {
    width: 560px;
    height: 460px;
  }

  .car-num-form h3 {
    font-size: 36px;
  }

  .car-num-form p {
    font-size: 24px;
    padding: 10px 20px;
  }

  .car-num-form .inputBox input {
    width: 400px;
    padding: 10px 20px;
    font-size: 32px;
  }

  .car-num-form .inputBox input::placeholder {
    position: absolute;
    top: 8px;
    color: #ffffff;
    font-size: 32px;
  }
}

@media (min-width: 960px) and (max-width: 1199px) {
  .space {
    max-width: 400px;
  }

  .first-form {
    width: 450px;
    height: 450px;
  }

  .car-num-form h3 {
    font-size: 28px;
  }

  .car-num-form p {
    font-size: 24px;
    padding: 10px 20px;
  }

  .car-num-form .inputBox input {
    width: 300px;
    padding: 10px 20px;
    font-size: 28px;
  }

  .car-num-form .inputBox input::placeholder {
    position: absolute;
    top: 10px;
    color: #ffffff;
    font-size: 28px;
  }
}

@media (min-width: 768px) and (max-width: 959px) {
  .space {
    max-width: 400px;
  }

  .first-form {
    width: 425px;
    height: 420px;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .space {
    max-width: 400px;
  }

  .first-form {
    width: 375px;
    height: 420px;
  }

  .car-num-form .inputBox p {
    font-size: 1.25rem;
    padding: 10px 20px;
  }
}

@media (max-width: 499px) {
  .first-form {
    width: 300px;
    height: 420px;
  }

  .car-num-form .inputBox p {
    font-size: 1.25rem;
    padding: 10px 20px;
  }

  .car-num-form .inputBox input {
    width: 200px;
  }

  .container .section .content h2 {
    font-size: 2rem;
  }

  .signUp p {
    margin: 14px auto;
    padding: 5px 10px;
  }

  .popup .modal-content {
    width: 300px;
    height: 350px;
  }

  .popup .close-btn {
    font-size: 25px;
  }

  .modal-content h2 {
    top: 8%;
    font-size: 28px;
  }

  .modal-content .inputBox input {
    width: 200px;
  }

  .modal-content .inputBox p {
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 1rem;
  }

  .popup .modal-content form {
    top: 15%;
  }
}
